/* Additional styles for customization */
.myDIV {
    padding: 70px 0;
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column;
}

#text1, #image, #text2 {
    text-align: left;
    margin-bottom: 10px; /* Adjust as needed for spacing */
    margin-left: 3%;
}

#image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.text {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

code {
    font-size: 87.5%;
    background-color: #3e4451; /* Dark background color for code */
    color: #b3d7ff;
    word-break: break-word;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
}